span {
    font-family: 'Chivo Mono', monospace;
    color: rgb(0,0,255);
    display: inline-block;
    font-size: 3rem;
    width: 100vw;
    overflow-wrap: anywhere;
    margin-top: 10vh;

}

img {
    width: 5%;
    min-width: 70px;
}