<div class="davidavidavi-container">
  <div class="davidavidavi-wrapper" [ngClass]="{'move-right': direction === 'right', 'move-left': direction === 'left'}">
    <span>davidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavi</span>
    <span>davidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavidavi</span>
  </div>
</div>